* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#main {
  width: 500%;
  height: 100%;
}

#footer {
  display: none;
}

#top-menu {
  display: flex;
  background-color: white;
  border-width: 1px;
  border-style: solid none;
  border-color: black;
  position: relative;
  min-height: 10%;
  max-height: 17%;
  z-index: 900;
  width: 100%;
}
.headbox {
  width: 100%;
}

#logobox {
  width: 19.9%;
  position: relative;
  border-width: 1px;
  border-style: none solid none none;
  border-color: black;
}
#namebox {
  width: 39.9%;
  position: relative;
  margin: 0;
  overflow: hidden;
  width: 19.9;
}
#menubox {
  width: 19.9%;
  position: relative;
  right: 0;
  top: 0;
  max-width: 66.666666%;
  border-width: 1px;
  border-style: none solid none solid;
  border-color: black;
  overflow-y: hidden;
}
#navbox {
  width: 19.9%;
  position: relative;
  text-align: center;
  border-color: black;
  cursor: default;
}
.mburger {
  text-align: center;
  font-size: 40px;
}
.drop-burger {
  width: 100%;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  background: #e8e8ea;
  transition: padding 0.1s ease,
    height 0.7s cubic-bezier(0.51, 0.02, 0.44, 1.41);
}
.drop-burger ul {
  height: 100%;
  position: relative;
  padding: 0;
  text-align: center;
}
.drop-burger li {
  position: relative;
  height: 33%;
  display: none;
  line-height: auto;
  list-style-type: none;
  transition: color 0.21s ease-in-out, transform 0.21s ease;
}
.drop-burger li a {
  color: #000;
  text-decoration: none;
  transition: color 0.21s ease-in-out;
}
.drop-burger li:hover a,
.esc-burger:hover {
  color: #ed1c24;
  text-decoration: none;
}
.drop-burger li:active a,
.esc-burger:active {
  color: #c00;
}

.slide {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0%;
  transition: left 0.65s ease-out;
}

.slide-page-1 {
  left: -19.99%;
  -webkit-transition: left 0.65s ease-out;
  transition: left 0.65s ease-out;
}

.slide-page-2 {
  left: -39.99%;
  -webkit-transition: left 0.65s ease-out;
  transition: left 0.65s ease-out;
}

.slide-page-3 {
  left: -59.99%;
  -webkit-transition: left 0.65s ease-out;
  transition: left 0.65s ease-out;
}

.slide-page-4 {
  left: -79.99%;
  -webkit-transition: left 0.65s ease-out;
  transition: left 0.65s ease-out;
}

.hide {
  display: none;
}

.table-column {
  float: left;
  overflow: hidden;
  border-width: 1px;
  border-color: black;
  height: 100%;
}

.table-row {
  display: block;
}

#page-1-mywork {
  width: 25%;
}
#page-1-animationbox {
  min-width: 47.8%;
  max-width: 66.6666666%;
  border-style: none solid none solid;
}
#page-1-right-menu {
  width: 24.9%;
}
.column {
  float: left;
  width: 25%;
  padding: 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.box {
  position: relative;
  padding-top: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  align-content: center;
}
.thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  align-content: center;
  height: 100%;
}
#page2 figure img {
	margin-left: 30px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#page2 figure:hover img {
	margin-left: 0;
}
figcaption {
  position: absolute;
  top: 50%;
  text-align: center;
  margin-top: -0.6em;
  width: 100%;
  color: white;
  font-size: 180%;
}

/* for ipad + viewport */
@media (max-width: 800px) {
  .column {
    width: 50%;
  }
  .drop-burger {
    font-size: 12.4px;
  }
  .mburger {
    margin-top: -1vw;
  }
  #main {
    height: 80%;
  }

  #footer {
    display: block;
    height: 10%;
    border-width: 1px;
    border-style: solid none none none;
    border-color: black;
  }

  #logobox {
    width: 33.33%;
    border: none;
  }

  #namebox {
    display: none;
  }

  #menubox {
    width: 33.33%;
  }

  #navbox {
    width: 33.33%;
  }

  #page-1-mywork {
    width: 33.3%;
  }

  #page-1-animationbox {
    width: 66.2%;
    border-right: none;
  }

  #page-1-right-menu {
    display: none;
  }
  .column {
    width: 100%;
  }
}

/* Small/Mobile format */
@media (max-width: 500px) {
  
}
.main-pages {
  float: left;
  width: 19.99%;
  height: 100%;
}

.container {width: 500px; margin: 50px auto}

.modal {
  background-color: #dbd9d9;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -150px;
  padding: 50px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
}

.close-modal {
  color:  #000;
  text-decoration: none;
  float: right;
  position: absolute;
  top: 10px;
  right: 20px
}